<% content_for :title do %>
  <title>SharePlan - Dashboard</title>
<% end %>

<% content_for :styles do %>
	<%= stylesheet_link_tag(
		"reset",
		"style",
		"jquery.select_skin")
	%>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag(
		"jquery-1.6.2.min",
		"jquery.select_skin",
		"dygraph",
		"util",
		"model",
		"view",
		"controller")
	%>
	<script type="text/javascript">
		$(document).ready(function () {
			Controller.Dashboard.index();
			Controller.User.logout();
		});
	</script>
<% end %>


<!-- Main Container -->
<div id="dashboard" class="main-container widgets">

	<h1>Dashboard</h1>

	<div id="notifications" class="widget left">
		<div class="header">
			<h3>Notificações</h3>
		</div>
		
		<div class="body">
			<ul>
				<li>
					<a href="#1" title="">Marcos compartilhou uma projeção com você</a>
					<div class="close" title="Remover notificação"></div>
				</li>
				<li>
					<a href="#2" title="">André modificou uma projeção sua</a>
					<div class="close" title="Remover notificação"></div>
				</li>
				<li>
					<a href="#3" title="">Luciano comentou em uma projeção sua</a>
					<div class="close" title="Remover notificação"></div>
				</li>
				<li>
					<a href="#3" title="">João comentou em uma projeção sua</a>
					<div class="close" title="Remover notificação"></div>
				</li>
			</ul>
			<a id="all-notifications" class="button" href="#" title="Ver todas as notificações">ver todas »</a>
		</div>
	</div>
	
	<div id="history" class="widget right">
		<div class="header">
			<h3>Histórico da Conta</h3>
		</div>
		
		<div class="body">
			<div id="item-history">
				<select id="item-history-select" class="styled">
					<option value="1">Resultado Líquido do Exercício</option>
					<option value="2">Resultado Bruto do Exercício</option>
					<option value="3">EBITDA</option>		
				</select>
			</div>
			<div id="history-chart"></div>
		</div>
	</div>
	
	<div id="last-projections" class="widget full">
		<div class="header">
			<h3>Últimas projeções</h3>
		</div>
		
		<div class="body">
			<div id="last-projections-container">
				<table id="last-projections-table" cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Projeção</th>
							<th class="center">Criado em</th>
							<th class="center">Versões</th>
							<th class="center">Comentários</th>
						</tr>
					</thead>
	
					<tbody>
						<tr id="projecao1" class="even">
							<td><a href="#" title="">Projeção para 2012</a></td>
							<td class="center">20.03.2010</td>
							<td class="center">2</td>
							<td class="center">5</td>
						</tr>
		
						<tr id="projecao2" class="odd">
							<td><a href="#" title="">Projeção para 2012</a></td>
							<td class="center">20.03.2010</td>
							<td class="center">2</td>
							<td class="center">5</td>
						</tr>
		
						<tr id="projecao3" class="even">
							<td><a href="#" title="">Projeção para 2012</a></td>
							<td class="center">20.03.2010</td>
							<td class="center">2</td>
							<td class="center">5</td>
						</tr>
		
						<tr id="projecao4" class="odd">
							<td><a href="#" title="">Projeção para 2012</a></td>
							<td class="center">20.03.2010</td>
							<td class="center">2</td>
							<td class="center">5</td>
						</tr>
		
						<tr id="projecao5" class="even">
							<td><a href="#" title="">Projeção para 2012</a></td>
							<td class="center">20.03.2010</td>
							<td class="center">2</td>
							<td class="center">5</td>
						</tr>
		
						<tr id="projecao6" class="odd">
							<td><a href="#" title="">Projeção para 2012</a></td>
							<td class="center">20.03.2010</td>
							<td class="center">2</td>
							<td class="center">5</td>
						</tr>
		
						<tr id="projecao7" class="even">
							<td><a href="#" title="">Projeção para 2012</a></td>
							<td class="center">20.03.2010</td>
							<td class="center">2</td>
							<td class="center">5</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a id="all-projections" class="button" href="#" title="Ver todas as projeções">ver todas »</a>
		</div>
	</div>

</div>
<!-- Main Container -->