<!-- Progress -->
<ul id="new-projection-progress" class="progress">
	<li class="<%= (step == "one") ? "current " : "" %>corner-left-step"><a href="/history/new_step_one/<%= id %>" title=""><span class="dot">1</span> Informações Básicas</a></li>
	<li class="<%= (step == "two") ? "current " : "" %>corner-right-step"><a href="/history/new_step_two/<%= id %>" title=""><span class="dot">2</span> Contas da DRE</a></li>
</ul>
<!-- Progress -->