body {
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12pt;
	background: #fbfbfb url(../images/body-bg.jpg) repeat;
	color: #333;
}

h1 {
	font-size: 28pt;
	font-weight: bold;
}

h1 span {
	display: none;
}

h2 {
	font-size: 17pt;
	font-weight: bold;
}

h3 {
	font-size: 16pt;
	font-weight: bold;
}

hr {
	border: 0;
	height: 3px;
	background-color: #333;
}

a {
	text-decoration: none;
}

/******************** SIDEBAR ********************/
#sidebar {
	background: #333333 url(../images/sidebar-bg.png) repeat;
	height: 100%;
	width: 250px;
	position: fixed;
	
	box-shadow: 0 0 8px #000;
		-moz-box-shadow: 0 0 8px #000;
			-webkit-box-shadow: 0 0 8px #000;
}

#logo {
	margin:20px 0 0 20px;
}

/********** USER BAR **********/
#user-bar {
	background: url(../images/user-bar-bg.png) repeat-x;
	height: 72px;
	border-right: 1px solid #2c92d4;
	margin-top:20px;
}

#user-name {
	padding:12px 0 0 20px;
	font-weight: bold;
	font-size: 16pt;
	color: #fff;
}

#user-controls {
	padding:4px 0 0 20px;
	font-weight: bold;
	font-size: 16pt;
	color: #fff;
}

#user-controls a {
	display: inline;
	font-size: 12pt;
	color: #333;
	text-decoration: none;
}

#user-controls a:hover {
	color: #ff8400;
}

/********** MENU **********/
#menu {
	margin-top: 50px;
	list-style-type:none;
}

#menu a {
	width: 250px;
	height: 51px;
	background-image: url(../images/menu.png);
	background-repeat: no-repeat;
	float:left;
	margin-bottom: 5px;
}

#menu span {
	display:none;
}

#menu-dashboard:hover {
	background-position: 0 -51px;
}

#menu-projecoes {
	background-position: 0 -102px;
}

#menu-projecoes:hover {
	background-position: 0 -153px;
}

#menu-historico {
	background-position: 0 -204px;
}

#menu-historico:hover {
	background-position: 0 -255px;
}

#menu-contatos {
	background-position: 0 -306px;
}

#menu-contatos:hover {
	background-position: 0 -357px;
}

#menu-templates {
	background-position: 0 -408px;
}

#menu-templates:hover {
	background-position: 0 -459px;
}

#notification-counter {
	width: 26px;
	height: 26px;
	clear: both;
	position: relative;
	top: -212px;
	left: 210px;
	background: url(../images/notification-bg.png) no-repeat;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

#notification-counter:hover {
	color: #333;
}

/******************** CONTENT ********************/
#content {
	margin: 0 30px 0 280px;
}

/********* DASHBOARD *********/
#dashboard {
	padding-top: 25px;
}

#dashboard-title {
	width: 220px;
	height: 30px;
	background: url(../images/titles.png) no-repeat;
}

/***** WIDGETS *****/
#dashboard-widgets {
	margin-top: 30px;
}

#dashboard-widgets .left {
	width: 48%;
	margin-right: 20px;
}

#dashboard-widgets .right {
	width: 48%;
}

#dashboard-widgets .full {
	width: 100%;
}

#dashboard-widgets .widget-body {
	height: 335px;
}

#widget-notificacoes .widget-header h3 {
	background: url(../images/widget-titles.png) no-repeat 0 -33px;
	width: 101px;
	height: 17px;
}

#widget-historico .widget-header h3 {
	background: url(../images/widget-titles.png) no-repeat 0 -20px;
	width: 72px;
	height: 13px;
}

#widget-ultimas-projecoes .widget-header h3 {
	background: url(../images/widget-titles.png) no-repeat;
	width: 145px;
	height: 20px;
	top: 8px;
}

/*** NOTIFICAÇÕES ***/
#notificacoes {
	padding-top: 10px;
}

#notificacoes li {
	width: 94%;
	margin: 0 3%;
	height: 32px;
	line-height: 32px;
	margin-bottom: 10px;
	background: #f2f2f2;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#notificacoes li:hover {
	border-color: #00a2ed;
	background: #b0e2f9;
}

#notificacoes li a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	padding-left: 10px;
}

#notificacoes .close {
	width: 14px;
	height: 13px;
	background: url(../images/close.png) no-repeat;
	float: right;
	position: relative;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

#notificacoes-todas {
	float: right;
	margin: 10px 10px 0 0;
}

/*** HISTÓRICO ***/
#historico-chart {
	height: 260px;
	margin-right: 15px;
	clear: both;
}

#reset-zoom {
	float: right;
	margin: 2px 10px 0 0;
}

#historico-conta {
	float: right;
	padding-top: 6px;
	margin-right: 15px;
}

#historico-conta-select {
    width: 250px;
    height: 18px;
}

/*** ÚLTIMAS PROJEÇÕES ***/
#ultimas-projecoes {
	text-align: left;
	font-size: 10pt;
}

#ultimas-projecoes thead {
	font-weight: bold;	
}

#ultimas-projecoes tr td {
	cursor: pointer;
}
 
#ultimas-projecoes tr.even td {
	background: #fbfbfb;
}

#ultimas-projecoes tr:hover td {
	background: #b0e2f9;
}
	
#ultimas-projecoes tr td,
#ultimas-projecoes tr th {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	line-height: normal;
	text-align: left;
}
	
#ultimas-projecoes tr td.visualizar {
	text-align: right;
	font-size: 11px;
}
	
#ultimas-projecoes tr td.visualizar a {
	color: #666;
}

#ultimas-projecoes tr td.visualizar a:hover {
	color: #088cca;
}

#projecoes-todas {
	float: right;
	margin: 8px 10px 0 0;
}

/********* PROJEÇÕES *********/
#projecoes {
	padding-top: 25px;
}

#projecoes-title {
	width: 197px;
	height: 37px;
	background: url(../images/titles.png) no-repeat 0 -30px;
	margin-bottom: 20px;
}

#projecoes-table-container {
	margin-top: 22px;
	font-size: 10pt;
}

#projecoes-table thead tr :nth-child(1) {
	border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
}

#projecoes-table thead tr :nth-child(5) {
	border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
}

#nova-projecao-button span {
	background: url(../images/add.png) no-repeat 0 50%;
	padding: 6px 6px 6px 28px;
}

/********* NOVA PROJEÇÃO *********/
#projecao {
	padding-top: 25px;
}

#projecao-title {
	width: 275px;
	height: 36px;
	background: url(../images/titles.png) no-repeat 0 -67px;
	margin-bottom: 20px;
}

#projecao-chart {
	margin-top: 40px;
}

#projecao-chart #chart {}

#projecao-date {
	background: #666;
	font-weight: bold;
	padding: 5px 15px;
	color: white;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#projecao-date #datepicker {
	width: 100px;
	text-align: center;
}

#projecao-bottom {
	margin: 20px 0;
	float: right;
}

#projecao-save-date {
	font-size: 8pt;
	margin-right: 45px;
}

#projecao-dre {
	margin: 40px 0;
}

/********* DRE *********/
#dre ul {
	list-style-type: none;
}

/***** HEADER *****/
#dre .header {
	line-height: 35px;
	color: white;
	font-weight: bold;
}

#dre .header li {
	display: inline;
	float: left;
	/*text-align: center;*/
}

#dre .header li.conta {
	width: 70%;
}

#dre .header li.projecao {
	width: 20%;
}

#dre .header li.opcoes {
	width: 10%;
}

#dre .header li.conta span {
	padding-left: 10px;
}

/***** BODY *****/
#dre .body {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}

#dre .body li {
	padding: 0 10px;
	line-height: 45px;
}

#dre .body li:hover {
	cursor: pointer;
}

#dre .body .group li.account,
#dre .body .group .new,
#dre .body .group .ui-state-highlight {
	margin-bottom: 5px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#dre .body .odd,
#dre .body .odd .account {
	background-color: #f2f2f2;
}

#dre .body .odd .account,
#dre .body .odd .new {
	border: 1px solid #bbb;
}

#dre .body .even,
#dre .body .even .account {
	background-color: #d0d0d0;
}

#dre .body .even .account,
#dre .body .even .new {
	border: 1px solid #eee;
}

#dre .body .unmovable {
	padding: 10px 0;
	margin: 0;
	height: 1px;
	display: none;
}

#dre .body .group .title,
#dre .body .result {
	font-weight: bold;
	text-transform: uppercase;
}

#dre .body .account .title  {
	font-weight: normal;
	text-transform: none;
}

#dre .body .title {
	cursor: move;
}

#dre .body .selected,
#dre .body .odd .selected,
#dre .body .even .selected {
	background: #b5d64d;
}

#dre .body .ui-state-highlight {
	background: #ff8400;
	border: 0;
	height: 45px;
	line-height: 45px;
}

#dre .body .group ul {
	padding-bottom: 10px;
}

#dre .body .group .container {
	position: relative;
	float: right;
	top: 9px;
}

#dre .body .group .deleteGroup {
	margin-right: 10px;
}

#dre .body .delete {
	background: url(../images/delete___16.png) no-repeat;
	padding: 7px 9px;
}

#dre .body .add {
	background: url(../images/add___16.png) no-repeat;
	padding: 7px;
	margin-right: 5px;
}

#dre .body .delete span,
#dre .body .add span {
	display: none;
}

#dre .body .account .container,
#dre .body .result .container {
	position: relative;
	float: right;
	top: 0px;
	width: 30%;
}

#dre .body .account .container .value,
#dre .body .result .container .value {
	width: 80px;
	height: 25px;
	float: left;
	margin-top: 7px;
	margin-left: -5px;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	border: 1px solid #555;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#dre .body .group .account .container .value {
	margin-left: 0;
}

#dre .body .account .container .delete,
#dre .body .result .container .delete {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

#dre .body .result .container .delete {
	margin-right: 11px;
}

#dre .body .group .account .delete {
	margin-right: 0;
}

/***** FOOTER *****/
#dre .footer {
	padding: 0 10px;
	line-height: 45px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}

#dre .footer {
	border: 1px solid #ccc;
	background: #ebebeb;
}

/***** ADD *****/
#add-conta-dre {
	line-height: 45px;
	background: url(../images/add.png) no-repeat 0 50%;
	padding-left: 30px;
	cursor: pointer;
	color: #99ca00;
	text-transform: uppercase;
}

#dre .body .new label {
	font-weight: bold;
}

#dre .body .new .combobox {
	width: 300px;
}

#dre .body .new .message {
	display: none;
	font-size: 10pt;
	padding: 0 5px;
	margin: 0 0 5px 0;
	border: 1px solid orange;
	height: 25px;
	line-height: 25px;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#dre .body .new .labelNewAccount {
	margin: 0 5px;
}

#dre .body .new .blue-button {
	margin-left: 5px;
}

/******************** COMPONENTS ********************/

/********** BUTTONS **********/
.blue-button {
	color: #fff;
	font-weight: bold;
	background: url(../images/blue-button-bg.png) repeat-x;
	
	border-left: 1px solid #2b92d4;
	border-right: 1px solid #2b92d4;
	
	padding: 6px;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

.blue-button:hover {
	background-image: url(../images/orange-button-bg.png);
	
	border-left: 1px solid #f09220;
	border-right: 1px solid #f09220;
}

.green-button {
	color: #fff;
	font-weight: bold;
	background: url(../images/green-button-bg.png) repeat-x;
	
	border-left: 1px solid #82bf08;
	border-right: 1px solid #82bf08;
	
	padding: 6px;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

/********** WIDGET **********/
.widget {
	float: left;
	margin-bottom: 20px;
	background: #fff;
}

.widget-header {
	background: #ff8400 url(../images/widget-header-bg.png) repeat-x;
	height: 35px;
	
	border-left: 1px solid #ec880e;
	border-right: 1px solid #ec880e;
	
	border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
}

.widget-header h3 {
	position: relative;
	top: 10px;
	left: 10px;
}

.widget-header h3 span {
	display: none;
}

.widget-body {
	border: 1px solid #ccc;
	border-top: 0;
	
	border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
}

/********** DRE TABLE **********/
table.dre {
	width: 100%;
}

table.dre td {
	padding: 10px;
}

table.dre thead tr {
	background: #FF8400 url(../images/widget-header-bg.png) repeat-x;
	height: 35px;
	color: white;
}

table.dre thead tr :nth-child(1) {
	border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
}

table.dre thead tr :nth-child(4) {
	border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
}

table.dre thead th {
	line-height: 35px;
	font-weight: bold;
}

table.dre tbody {
	border: 1px solid #ccc;
	border-top: 0;
}

table.dre tbody td {
	border: 1px solid #ccc;
}

table.dre tbody td.center {
	text-align: center;
}

table.dre tbody tr.result-group {
	background-color: #f2f2f2;
	font-weight: bold;
}

table.dre tbody tr.account {
	background-color: white;
	padding-left: 15px;
}

table.dre tfoot tr {
	background-color: #ebebeb;
	border: 1px solid #ccc;
}

/********** STEPS **********/
.steps {
	width: 696px;
	height: 29px;
}

.steps div {
	float: left;
}

.step {
	width: 150px;
	height: 29px;
	background: url(../images/steps-bg.png) repeat-x 0 -29px;
	text-align: center;
}

.step a {
	font-weight: bold;
	color: #333;
	line-height: 29px;
}

.step a:hover {
	color: #00a2ed;
}

.current {
	background: url(../images/steps-bg.png) repeat-x;
}

.current a {
	color: #fff;
}

.current a:hover {
	color: #333;
}

.arrow {
	width: 20px;
	height: 29px;
	background: url(../images/steps.png) no-repeat;
}

.arrow-right-current {
	background: url(../images/steps.png) no-repeat -40px 0;
}

.arrow-left-current {
	background: url(../images/steps.png) no-repeat -20px 0;
}

.right-corner {
	width: 5px;
	height: 29px;
	background: url(../images/steps.png) no-repeat -70px 0;
}

.left-corner {
	width: 5px;
	height: 29px;
	background: url(../images/steps.png) no-repeat -60px 0;
}

.right-corner-current {
	background: url(../images/steps.png) no-repeat -75px 0;
}

.left-corner-current {
	background: url(../images/steps.png) no-repeat -65px 0;
}

/********** FORM **********/
.textfield {
	font-size: 12pt;
	font-weight: bold;
	height: 25px;
	
	border: 1px solid #ccc;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

/********** JQUERY UI **********/
.ui-datepicker {
	font-size: 10pt;
}

.ui-button {
	margin-left: -1px;
}
.ui-button-icon-only .ui-button-text {
	padding: 2px 0;
}
.ui-autocomplete-input {
	margin: 0;
	padding: 4px 0;
}
.ui-autocomplete {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}
