@font-face {
    font-family: 'CantarellBold';
    src: url('../fonts/Cantarell-Bold-webfont.eot');
    src: url('../fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Bold-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Bold-webfont.svg#CantarellBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
COLORS:
- blue: #00aefe
- orange: #ffb400
- dark grey: #666
- grey: #dcdcdc
*/


body {
	font-size: 12pt;
	background: #fff;
	color: #666;
}

body,
input,
textarea,
select {
	font-family: CantarellBold, Arial, Tahoma, sans-serif;
}

a {
	text-decoration: none;
	color: #00aefe;
}

a:hover {
	text-decoration: underline;
	color: #ffb400;
}

h1 {
	font-size: 20pt;
	text-transform: uppercase;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 16pt;
}

/* HEADER =================================================================== */
#header {
	width: 100%;
	height: 50px;
	background: #dcdcdc;
	border-bottom: 1px solid #e8e8e8;
	outline: #ccc solid 1px;
}

#logo {
	padding: 12px 0 0 30px;
	float: left;
}

#logo:active {
	padding-top: 14px;
}

#menu {
	float: left;
	line-height: 50px;
	margin-left: 80px;
}

#menu li {
	display: inline;
	margin: 0 6px;
}

#menu li a {
	text-transform: uppercase;
	padding: 2px 5px;
	color: #666;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#menu li a:hover,
#menu li a.current {
	background: #00aefe;
	color: #fff;
	text-decoration: none;
  
}

/* USERBOX ================================================================== */
#userbox {
	float: right;
	margin: 0 30px 0 0;
	background: #666;
	color: #fff;
	padding: 5px;
	
	border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;
		
	border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;	
}

/* DASHBOARD ================================================================ */
#dashboard h1 {
	margin-bottom: 20px;
}

#last-projections {
	position: relative;
	top: 30px;
}

/* NOTIFICATIONS ============================================================ */
#notifications ul {
	padding-top: 10px;
	height: 196px;
}

#notifications ul li {
	width: 94%;
	margin: 0 3%;
	padding: 10px 0;
	margin-bottom: 10px;
	background: #f2f2f2;
	border: 1px solid #d9d9d9;
	cursor: pointer;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#notifications ul li:hover {
	border-color: #00aefe;
	background: #b0e2f9;
}

#notifications ul li a {
	color: #666;
	text-decoration: none;
	font-size: 10pt;
	padding-left: 10px;
}

#notifications .close {
	width: 16px;
	height: 16px;
	background: url(../images/delete_16.png) no-repeat;
	float: right;
	margin: 1px 10px 0 0;
	cursor: pointer;
}

#all-notifications {
	float: right;
	margin: 10px 10px 0 0;
}

/* ITEM HISTORY ============================================================= */
#item-history {
	float: right;
	padding-top: 6px;
	margin-right: 15px;
}

#item-history-select {
    width: 250px;
    height: 18px;
}

#history-chart {
	width: 95%;
	margin: 0 auto;
	height: 200px;
	position: relative;
	top: 15px;
	clear: both;
}

/* LAST PROJECTIONS ========================================================= */
#last-projections {
	height: 500px;
}

#last-projections-container {
	height: 408px;
}

#last-projections-table td,
#last-projections-table th {
	height: 36px;
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
	text-align: left;
	padding-left: 10px;
}

#last-projections-table td.center,
#last-projections-table th.center {
	text-align: center;
	padding-left: 0;
}

#last-projections-table th {
	text-transform: uppercase;
	background: #999;
	color: #fff;
}

#last-projections-table tr.even td {
	background: #fbfbfb;
}

#last-projections-table tr:hover td {
	background: #eee;
}

#all-projections {
	float: right;
	margin: 10px 10px 0 0;
}

/* PROJECTIONS ============================================================== */
#projections {
	margin-top: 20px;
	clear: both;
}

#projection-title {
	height: 30px;
	margin-bottom: 10px;
}

#projection-title h1 {
	float: left
}

#new-projections-button {
	float: left;
	position: relative;
	top: -5px;
	left: 20px;
}

#shared-projections-table,
#shared-projections-table-footer {
	display: none;
}

/* NEW PROJECTION =========================================================== */
#new-projection {
	
}

#new-projection-progress {
	margin-top: 10px;
	background: #dcdcdc;
	padding: 20px 10px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#projection-form {
	margin-top: 20px;
}

#projection-bottom {
	margin: 10px 0 20px 0;
	float: right;
	clear: both;
}

#projection-save-date {
	font-size: 10pt;
	margin-right: 30px;
}

#projection-save-date .loader {
	position: relative;
	top: 4px;
	right: 5px;
}

/* PROJECTION CHART ========================================================= */
#projection-chart {
	margin-top: 20px;
	border: 5px solid #dcdcdc;
	padding: 10px 10px 30px 10px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#chart {
	height: 400px;
	clear: both;
}

#empty-chart {
	text-align: center;
	padding-top: 160px;
}

#empty-chart .one {
	font-size: 28pt;
}

#chart-legend {
	height: 15px;
	float: right;
	margin: 0 8px 10px 0;
}

#income-statement-info {
	margin: 0;
}

/* INCOME STATEMENT ========================================================= */
#projection-income-statement {
	margin: 20px 0;
	background: #dcdcdc;
	padding: 10px 0;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#projection-income-statement h2 {
	padding: 0 0 10px 10px;
}

#income-statement ul {
	list-style-type: none;
}

/***** HEADER *****/
#income-statement .header {
	line-height: 35px;
	color: white;
}

#income-statement .header li {
	display: inline;
	float: left;
	background: #ffb400;
}

#income-statement .header li.account-label {
	width: 70%;
}

#income-statement .header li.projection-label {
	width: 20%;
}

#income-statement .header li.options-label {
	width: 10%;
	text-align: right;
}
#income-statement .header li.projection-label span {
	padding-left: 35px;
}

#income-statement .header li.options-label span {
	margin-right: 20px;
}

#income-statement .header li.account-label span {
	padding-left: 10px;
}

/***** BODY *****/
#income-statement .body {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	clear: both;
}

#income-statement .body li {
	padding: 0 10px;
	line-height: 45px;
}

#income-statement .body li:hover {
	cursor: pointer;
}

#income-statement .body .group li.account,
#income-statement .body .group .new,
#income-statement .body .group .ui-state-highlight {
	margin-bottom: 5px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#income-statement .body .odd,
#income-statement .body .odd .account {
	background-color: #f2f2f2;
}

#income-statement .body .odd .account,
#income-statement .body .odd .new {
	border: 1px solid #bbb;
}

#income-statement .body .even,
#income-statement .body .even .account {
	background-color: #d0d0d0;
}

#income-statement .body .even .account,
#income-statement .body .even .new {
	border: 1px solid #eee;
}

#income-statement .body .unmovable {
	padding: 10px 0;
	margin: 0;
	height: 1px;
	display: none;
}

#income-statement .body .group .title,
#income-statement .body .result {
	text-transform: uppercase;
}

#income-statement .body .account .title  {
	text-transform: none;
}

#income-statement .body .title {
	cursor: move;
}

#income-statement .body .selected,
#income-statement .body .odd .selected,
#income-statement .body .even .selected {
	background: #b5d64d;
}

#income-statement .body .ui-state-highlight {
	background: #ff8400;
	border: 0;
	height: 45px;
	line-height: 45px;
}

#income-statement .body .group ul {
	padding-bottom: 10px;
}

#income-statement .body .group .container {
	position: relative;
	float: right;
	top: 9px;
}

#income-statement .body .group .deleteGroup {
	margin-right: 10px;
}

#income-statement .body .delete {
	background: url(../images/delete_16.png) no-repeat;
	padding: 7px 9px;
}

#income-statement .body .add {
	background: url(../images/add_16.png) no-repeat;
	padding: 7px;
	margin-right: 5px;
}

#income-statement .body .delete span,
#income-statement .body .add span {
	display: none;
}

#income-statement .body .account .container,
#income-statement .body .result .container {
	position: relative;
	float: right;
	top: 0px;
	width: 30%;
}

#income-statement .body .account .container .value,
#income-statement .body .result .container .value {
	width: 150px;
	height: 25px;
	float: left;
	margin-top: 7px;
	margin-left: -5px;
	font-size: 12pt;
	text-align: center;
	border: 1px solid #555;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#income-statement .body .group .account .container .value {
	margin-left: 0;
}

#income-statement .body .account .container .function,
#income-statement .body .result .container .function {
	padding: 3px 5px;
	margin-left: 10px;
	position: relative;
	top: -1px;
	text-transform:lowercase;
}

#income-statement .body .account .container .active,
#income-statement .body .result .container .active {
	background: #ccefff;
}

#income-statement .body .account .container .error,
#income-statement .body .result .container .error {
	background: #FFC4C4;
}

#income-statement .body .account .container .delete,
#income-statement .body .result .container .delete {
	float: right;
	margin-top: 15px;
	margin-right: 10px;
}

#income-statement .body .result .container .delete {
	margin-right: 11px;
}

#income-statement .body .group .account .delete {
	margin-right: 0;
}

/***** FOOTER *****/
#income-statement .footer {
	padding: 0 10px;
	line-height: 45px;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}

#income-statement .footer {
	border: 1px solid #ccc;
	background: #ebebeb;
}

/***** ADD *****/
#add-projection-item {
	line-height: 45px;
	background: url(../images/add.png) no-repeat 0 50%;
	padding-left: 30px;
	cursor: pointer;
	color: #99ca00;
	text-transform: uppercase;
}

#income-statement .body .new label {
	
}

#income-statement .body .new .combobox {
	width: 300px;
}

#income-statement .body .new .message {
	display: none;
	font-size: 10pt;
	padding: 0 5px 0 35px;
	margin: 0 0 5px 0;
	
	background: #FFC4C4 url(../images/delete_16.png) no-repeat 10px 6px;
	border: 1px solid #FF0000;
	
	height: 25px;
	line-height: 25px;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#income-statement .body .new .labelNewAccount {
	margin: 0 5px;
}

#income-statement .body .new .button {
	margin-left: 5px;
	padding: 6px;
}

#income-statement .body .new .green-button {
	padding: 6px;
}

/* NEW ACCOUNT BOX ========================================================== */
#new-account-box {
	width: 360px;
}

#new-account-box h2 {
	margin-bottom: 10px;
}

#new-account-box .container {
	clear: both;
	height: 30px;
	margin-bottom: 5px;
}

#new-account-box .container label {
	float: left;
	line-height: 30px;
}

#new-account-box .container input,
#new-account-box .container select {
	float: right;
	width: 200px;
}

#new-account-box .buttons {
	float: right;
	clear: both;
	margin-top: 10px;
	height: 20px;
}

#new-account-box .buttons .cancel {
	padding: 2px 10px;
	margin-right: 5px;
}

#new-account-box .buttons .save {
	padding: 2px 10px;
}


/* FORMULA BOX ============================================================== */
#formulator {
	width: 570px;
}

#formulator .body {
	margin-top: 10px;
}

#formulator .header {
	height: 25px;
	margin-bottom: 2px;
	padding: 0 5px;
	line-height: 25px;
	background: #ffb400;
	color: #fff;
	
	border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;

	border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
}

#formulator .header span.account {
	float: left;
}

#formulator .header span.id {
	float: right;
	padding-right: 30px;
}

#formulator .viewport {
	height: 200px;
	overflow: hidden;
	position: relative;
}

#formulator .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	width: 560px;
}

#formulator .scrollbar {
	position: relative;
	float: right;
	width: 8px;
}

#formulator .track {
	background: #666;
	width: 8px;
	position: relative;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#formulator .thumb {
	background: #ccc;
	width: 8px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#formulator .thumb .end {
	overflow: hidden;
	height: 5px;
	width: 25px;
}

#formulator .disable {
	display: none;
}

#formulator ul li {
	height: 25px;
	background: #eee;
	margin-bottom: 2px;
	padding: 0 5px;
	line-height: 25px;
}

#formulator ul li.item:hover {
	background: #ECFFB3;
	cursor: pointer;
}

#formulator .error {
	margin-top: 15px;
	color: red;
	display: none;
}

#formulator-formula {
	margin-top: 10px;
}

#formulator-formula .run {
	float: right;
	position: relative;
	top: -21px;
}

#formulator-formula .run h3 {
	margin: 0 0 4px 35px;
}

#formulator-formula .run a {
	margin-right: 10px;
}

#formulator-formula .run input {
	width: 150px;
	height: 35px;
	font-size: 12pt;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#formulator-formula p {
	font-size: 10pt;
	margin-top: 4px;
}

#formulator-formula textarea {
	width: 360px;
	height: 35px;
	margin-top: 4px;
	border: 2px solid #ccc;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#formulator-buttons {
	margin: 30px 0 10px 0;
	float: right;
}

#formulator-buttons .cancel {
	margin-right: 5px;
}

#formulator-buttons .help {
	left: 10px;
	position: absolute;
	bottom: 10px;
}

/* SHARE WITH CONTACTS ====================================================== */
#contacts-list {
	width: 100%;
	height: 60px;
}

/* SIDEBAR ================================================================== */
#sidebar {
	width: 200px;
	height: 230px;
	
	margin: 30px;
	background: #dcdcdc;
	border: 5px solid #ccc;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#sidebar ul li {
	padding: 10px 0;
	width: 100%;
	
	border-bottom: 1px solid #ccc;
}

#sidebar ul li.current {
	background: #00aefe;
	color: #fff;
}

/* MAIN CONTAINER =========================================================== */
.main-container {
	margin: 50px 30px 60px 30px;
}

/* CONTAINER BOX ============================================================ */
.main-container .container-box {
	background: #dcdcdc;
	margin-bottom: 30px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}
.main-container .container-box .header {
	height: 52px;
	padding-left: 10px;
}

.main-container .container-box .header li {
	display: inline;
	margin-right: 10px;
	position: relative;
	top: 18px;
}

.main-container .container-box .header li a {
	padding: 5px 10px;
	color: #666;
	border: 1px solid #ccc;
	text-transform: uppercase;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

.main-container .container-box .header li.selected a,
.main-container .container-box .header li a:hover {
	background: #666;
	color: #fff;
	text-decoration: none;
	border: 1px solid #666;
	
}

.main-container h1.page {
	margin-bottom: 15px;
}

/* TABLE ==================================================================== */
.table-container .delete {
	color: #fff;
	background: #e3301d;
	padding: 0 5px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
	font-size: 10pt;
}

/* FORM ===================================================================== */
.form-container fieldset {
	background: #f0f0f0;
	border: 1px solid #ccc;
	padding: 25px;
	margin-bottom: 20px;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

.form-container fieldset legend {
	padding:0 10px;
	font-size: 14pt;
}

.form-container fieldset dl {
	display: block;
}

.form-container fieldset dl.inline,
.form-container fieldset dl.inline dt,
.form-container fieldset dl.inline dd {
	display: inline;
}

.form-container fieldset dl.inline .first {
	margin-left: 10px;
}

.form-container fieldset dl.inline .datepicker {
	margin: 0 7px;
	width: 100px;
}

.form-container fieldset dl.normal dt {
	width: 180px;
	text-align: right;
}

.form-container fieldset dt label {
	
}

.form-container fieldset dl.normal dd {
	position: relative;
	top: -24px;
	left: 200px;
	display: block;
	width: 80%;
}

.form-container fieldset dl dt.invalid {
	display: none;
}

.form-container fieldset dd p {
	font-size: 10pt;
	color: #666;
	margin-top: 2px;
}

.form-container fieldset dd.text {
	top: -18px;
	position: relative;
	left: 165px;
	width: 500px;
	font-size: 11pt;
}

.form-container fieldset input {
	padding: 7px 6px 5px;
}

.form-container fieldset input,
.form-container fieldset select,
.form-container fieldset textarea {
	padding: 7px 6px 5px;
	border: 1px solid #ccc;
	color: #333;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

.form-container fieldset select {
	background-color: #fff;
}

.form-container fieldset input:hover,
.form-container fieldset select:hover,
.form-container fieldset textarea:hover {
	border: 1px solid #ffb400;
}

.form-container fieldset input.error,
.form-container fieldset select.error,
.form-container fieldset textarea.error {
	border: 1px solid #CD0A0A;
}

.form-container fieldset input.valid {
	border-color: #82BF08;
	background-color: #E2FF89;
}

.form-container fieldset .valid-message {
	background: url(../images/accept_16.png) no-repeat left center;
	margin-left: 10px;
	padding: 0 0 0 25px;
	font-size: 10pt;
}

.form-container fieldset input.invalid {
	border-color: #FF0000;
	background-color: #FFC4C4;
}

.form-container fieldset .invalid-message {
	background: url(../images/delete_16.png) no-repeat left center;
	margin-left: 10px;
	padding: 0 0 0 25px;
	font-size: 10pt;
}

.form-container fieldset input.datepicker {
	background: #fff url(../images/calendar_16.png) no-repeat 6px 6px;
	padding-left: 30px;
	width: 20%;
}

.form-container fieldset input.small,
.form-container fieldset textarea.small {
	width: 25%;
}

.form-container fieldset input.medium,
.form-container fieldset textarea.medium {
	width: 50%;
}

.form-container fieldset input.large,
.form-container fieldset textarea.large {
	width: 75%;
}

/* WIDGETS ================================================================== */
.widgets .widget {
	height: 300px;
	
	border: 1px solid #ccc;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

.widgets .widget .header {
	background: #dcdcdc;
	border-bottom: 1px solid #ccc;
}

.widgets .left {
	margin-right: 30px;
}

.widgets .left,
.widgets .right {
	width: 48%;
	float: left;
}

.widgets .full {
	width: 100%;
	clear: both;
	
}

.widgets .widget h3 {
	padding: 10px 0 10px 10px;
}

/* PROGRESS ================================================================= */
.progress li {
	display: inline;
}

.progress li a {
	color: #fff;
	background: #00aefe;
	padding: 8px 10px;
}

.progress li a:hover,
.progress li.current a {
	background: #ffb400;
	text-decoration: none;
}

.progress li a span.dot {
	padding: 0 6px;
	color: #00aefe;
	background: #fff;
	border-radius: 20px;
		-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
}

.progress li a:hover span.dot,
.progress li.current a span.dot {
	color: #ffb400;
}

.progress li.corner-left-step a {
	border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
			-moz-border-radius-topleft: 5px;
		
	border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
			-moz-border-radius-bottomleft: 5px;	
}

.progress li.corner-right-step a {
	border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topright: 5px;
		
	border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
			-moz-border-radius-bottomright: 5px;	
}

/* BUTTON =================================================================== */
a.button {
	color: #fff;
	padding: 8px 10px;
	background: #00aefe;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

a.button:hover {
	background: #ffb400;
	text-decoration: none;
}

a.green-button {
	color: #fff;
	background: #a7dd16;
	border: 1px solid #a7dd16;
	
	padding: 8px 10px;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

a.green-button:hover {
	color: #fff;
	text-decoration: none;
	background: #b7f218;
}

a.red-button {
	color: #fff;
	background: #ff5013;
	
	padding: 8px 10px;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

a.red-button:hover {
	color: #fff;
}

/* MISC ===================================================================== */
.clear {
	clear: both;
}

.textfield {
	font-size: 12pt;
	height: 25px;
	
	border: 1px solid #ccc;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

/* MESSAGES ================================================================= */
.messages {
	list-style-type: none;
	margin: 20px 0;
}

.messages li {
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
	padding: 0 10px 0 38px;
	background-position: 10px 50%;
	background-repeat: no-repeat;
	border: 1px solid;
	
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

.messages .error {
	background-color: #FFC4C4;
	background-image: url(../images/delete_16.png);
	border-color: #FF0000;
}

.messages li p {
	float: left;
}

.messages li span.close {
	width: 8px;
	height: 8px;
	background: url(../images/facebox/closelabel.png) no-repeat 0 0;
	float: right;
	margin-top: 16px;
	cursor: pointer;
}

.messages .success {
	background-color: #ECFFB3;
	background-image: url(../images/accept_16.png);
	border-color: #82BF08;
}

.messages .warning {
	background-color: #FCEFA1;
	background-image: url(../images/warning_16.png);
	border-color: #FFCC00;
}

.messages .info {
	background-color: #B0E2F9;
	background-image: url(../images/info_16.png);
	border-color: #00A2ED;
}

/* ERROR PAGE =============================================================== */
#error-container {
	background: #dcdcdc;
	text-align: center;
	height: 200px;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}

#error-container h1 {
	padding-top: 80px;
}

/* JQUERY UI ================================================================ */
.ui-datepicker {
	font-size: 10pt;
}

.ui-button {
	margin-left: -1px;
}
.ui-button-icon-only .ui-button-text {
	padding: 5px 0 6px 0;
}
.ui-autocomplete-input {
	margin: 0;
	padding: 4px 0;
}
.ui-autocomplete {
	height: 200px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ui-widget {
	font-family: CantarellBold, Arial, Tahoma, sans-serif;
	font-size: 12pt;
}

.ui-datepicker {
	font-size: 10pt;
}

/* LOGIN ==================================================================== */
#login {
	margin: 0 auto;
	width: 250px;
	margin-top: 100px;
	background: #dcdcdc;
	padding: 50px;
	border: 1px solid #CCC;
	border-radius: 5px;
		-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
}
