<% if @user_signed_in %>
<!-- Userbox -->
<div id="userbox">
	<div id="username">
		Olá <a href="<%= url_for(:action => 'edit', :controller => 'users') %>" title="Editar meus dados">mayconbordin</a>
		(<a id="sign-out" href="<%= url_for(:action => 'sign_out', :controller => 'users') %>" title="">Sair</a>)
	</div>
</div>
<!-- Userbox -->
<% end %>
