<ul class="messages">
		<li class="error"><p>O período precisa ser preenchido</p><span class="close"></span></li>
		<li class="warning"><p>O período precisa ser preenchido</p><span class="close"></span></li>
		<li class="info"><p>O período precisa ser preenchido</p><span class="close"></span></li>
		<li class="success"><p>O período precisa ser preenchido</p><span class="close"></span></li>
	</ul>



	<div id="projecao-form" class="form-container">
		<form>
			<fieldset>
				<legend>Legend</legend>
				<dl>
					<!-- START: Item -->
					<dt>
						<label>Short Input</label>
					</dt>
					<dd>
						<input type="text" class="small" />
						<p>Short description of input</p>
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Date Input</label>
					</dt>
					<dd>
						<input type="text" class="datepicker" />
						<p>Short description of input</p>
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Short Valid Input</label>
					</dt>
					<dd>
						<input type="text" class="small valid" />
						<span class="valid-message">Valid message</span>
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Short Invalid Input</label>
					</dt>
					<dd>
						<input type="text" class="small invalid" />
						<span class="invalid-message">Invalid message</span>
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Medium Input</label>
					</dt>
					<dd>
						<input type="text" class="medium" />
						<p>Short description of input</p>
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Large Input</label>
					</dt>
					<dd>
						<input type="text" class="large" />
						<p>Short description of input</p>
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Text</label>
					</dt>
					<dd class="text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mattis lobortis nisl nec commodo. In eleifend, arcu sed aliquet varius, turpis dolor sollicitudin mi, condimentum consequat lectus massa vitae risus. Aliquam sed arcu sed magna auctor dictum.
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Textarea input</label>
					</dt>
					<dd>
						<textarea class="medium"></textarea>
						<p>Short description of input</p>
					</dd>
					<!-- END: Item -->
					
					<!-- START: Item -->
					<dt>
						<label>Select Option</label>
					</dt>
					<dd>
						<select>
							<option>Choose one</option>
							<option>Option One</option>
							<option>Option Two</option>
							<option>Option Three</option>
						</select>
						<p>Short description of input</p>
					</dd>
					<!-- END: Item -->
					
				</dl>
			</fieldset>
		</form>	
	</div>