<% content_for :title do %>
  <title>SharePlan - Projeções</title>
<% end %>

<% content_for :styles do %>
	<%= stylesheet_link_tag(
		"reset",
		"facebox",
		"style",
		"jquery.dataTables")
	%>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag(
		"jquery-1.6.2.min",
		"jquery.dataTables.min",
		"jquery.facebox",
		"util",
		"model",
		"view",
		"controller")
	%>
	<script type="text/javascript">
		$(document).ready(function () {
			Controller.Projection.index();
			Controller.User.logout();
		});
	</script>
<% end %>

<!-- Main Container -->
<div class="main-container">
	
	<div id="projection-title">
		<h1>Projeções</h1>
		<a id="new-projections-button" class="green-button" href="<%= url_for(:action => 'new_step_one', :controller => 'projections') %>" title="Criar uma nova projeção">Nova Projeção</a>
	</div>
	
	<!-- Projeções -->
	<div id="projections" class="container-box">
		<ul id="projections-header" class="header">
			<li class="selected"><a id="select-my-projections" href="#" title="">Minhas Projeções</a></li>
			<li><a id="select-shared-projections" href="#" title="">Projeções Compartilhadas</a></li>
		</ul>
		
		<div id="projections-table-container" class="table-container">
			<table cellpadding="0" cellspacing="0" border="0" class="display" id="projections-table"></table>
			<table cellpadding="0" cellspacing="0" border="0" class="display" id="shared-projections-table"></table>
		</div>
	</div>
	<!-- Projeções -->

</div>
<!-- Main Container -->