<% content_for :title do %>
  <title>SharePlan - Nova Projeção</title>
<% end %>

<% content_for :styles do %>
	<%= stylesheet_link_tag(
		"reset",
		"base/jquery.ui.all",
		"facebox",
		"style",
		"jquery.select_skin",
		"jquery.dataTables",
		"jquery.gritter")
	%>
<% end %>

<% content_for :scripts do %>
	<%= javascript_include_tag(
		"jquery-1.6.2.min",
		"jquery.dataTables.min",
		"jquery.gritter.min",
		"jquery.facebox",
		"jquery.tinyscrollbar",
		
		"ui/jquery.ui.core.min",
		"ui/jquery.ui.widget.min",
		"ui/jquery.ui.mouse.min",
		"ui/jquery.ui.sortable.min",
		"ui/jquery.ui.datepicker.min",
		"ui/jquery.ui.position.min",
		"ui/jquery.ui.button.min",
		"ui/jquery.ui.autocomplete.min",
		
		"dygraph",
		"util",
		"model",
		"view",
		"controller")
	%>
	<script type="text/javascript">
		var projection_id = <%= @id %>;
		$(document).ready(function () {
			Controller.Projection.newStepTwo(projection_id);
			Controller.User.logout();
		});
	</script>
<% end %>


<h1 class="page">Nova Projeção</h1>
				
<!-- New Projection -->
<div id="new-projection">

	<!-- Progress -->
	<ul id="new-projection-progress" class="progress">
		<li class="corner-left-step"><a href="#" title=""><span class="dot">1</span> Informações Básicas</a></li>
		<li class="current step"><a href="#" title=""><span class="dot">2</span> Projetar DRE</a></li>
		<li class="corner-right-step"><a href="#" title=""><span class="dot">3</span> Compartilhar</a></li>
	</ul>
	<!-- Progress -->

	<!-- Chart -->
	<div id="projection-chart">
		<h2>Gráfico</h2>
	
		<div id="chart-legend"></div>
		<div id="chart">
			<div id="empty-chart">
     			<p class="one">Nenhuma conta carregada</p>
     			<p class="two">Clique nas contas para carregá-las no gráfico</p>
     		</div>
		</div>
	</div>
	<!-- Chart -->

	<!-- Income Statement -->
	<div id="projection-income-statement">
		<h2>Demonstração do Resultado do Exercício</h2>

		<div id="income-statement">
			<ul class="header">
				<li class="account-label"><span>Conta</span></li>
				<li class="projection-label"><span>Projeção</span></li>
				<li class="options-label"><span>Opções</span></li>
			</ul>

			<ul class="body"></ul>

			<div class="footer">
				<div id="add-projection-item">Adicionar Conta</div>
			</div>
		</div>

	</div>
	<!-- Income Statement -->

	<!-- Bottom -->
	<div id="projection-bottom">
		<p>
			<span id="projection-save-date"></span>
			<a id="projection-discard" class="button" href="#" title="Descartar projeção">Descartar</a>
			<a id="projection-save" class="button" href="#" title="Salvar projeção">Salvar</a>
		</p>
	</div>
	<!-- Bottom -->
	
</div>
<!-- New Projection -->